<?xml version="1.0"?>
<manifest android:installLocation="preferExternal" android:theme="@android:style/Theme.NoTitleBar" android:versionCode="1" android:versionName="1.0" package="com.unity3d.player" xmlns:android="http://schemas.android.com/apk/res/android">
  <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true" />
  <application android:debuggable="true" android:icon="@drawable/app_icon" android:label="@string/app_name">
    <activity android:label="@string/app_name" android:launchMode="singleInstance" android:name="com.prime31.UnityPlayerNativeActivity" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
    </activity>
    <!-- Google Play Game Services start --><!--
    <activity android:configChanges="orientation|layoutDirection|keyboard|keyboardHidden|screenLayout|uiMode|screenSize" android:name="com.prime31.GoogleIABProxyActivity" />
    <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="\ 637256183647" />
    <meta-data android:name="com.google.android.gms.appstate.APP_ID" android:value="\ 637256183647" />
    <meta-data android:name="com.prime31.PlayGameServicesPlugin.DisableDrive" android:value=""/>
    <meta-data android:name="com.prime31.PlayGameServicesPlugin" android:value="UnityPlayerActivityProxy" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    --><!-- Google Play Game Services end -->
    <!-- ELAN start -->
    <service android:enabled="true" android:name="com.CFM.ELAN.ELANAlarmCreator" />
    <receiver android:name="com.CFM.ELAN.TimedAlarm" />
    <!-- ELAN end -->
    <!-- AdJust START -->
    <receiver android:exported="true" android:name="com.adjust.sdk.ReferrerReceiver">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
    <!-- AdJust END -->
    <!-- Upsight START -->
    <receiver android:name="com.playhaven.android.push.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
        <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
        <category android:name="com.gramgames.protein"/>
      </intent-filter>
    </receiver>
    <!-- Upsight END -->
  </application>
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- Upsight START -->
  <permission android:name="com.gramgames.protein.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
  <uses-permission android:name="com.gramgames.protein.permission.C2D_MESSAGE"/>
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- Upsight END -->
</manifest>
