<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>requiredFrameworks</key>
	<array>
		<string>SystemConfiguration.framework</string>
		<string>CoreData.framework</string>
		<string>CoreTelephony.framework</string>
	</array>
	<key>weakLinkFrameworks</key>
	<array>
		<string>CoreTelephony.framework</string>
	</array>
	<key>linkerFlags</key>
	<array>
		<string>-ObjC</string>
	</array>
</dict>
</plist>
